* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}
.top {
	background-color: : #FFFFFF;
	height: 48.61vw;
	position: relative;
	/* This border removes whitespace that was present*/
	border: 1px solid transparent;
	width: 100vw;
}
.mida {
	width:  100vw;
	height: 39.51vw;
	background-color: #125172;
}
.midb {
	width: 100vw;
	height: 50vw;
	background: linear-gradient(180deg, #FFFFFF 0%, #FBFCFD 100%);
}
.midc {
	width: 100vw;
	height: 50vw;
	background-color: #FFFFFF;
}
.midd {
	width: 100vw;
	height: 50vw;
	background-color: #D31E4C;
}
.mide {
	width: 100vw;
	height: 37.43vw;
	background: linear-gradient(180deg, #FFFFFF 0%, #FBFCFD 100%);
}
.midf {
	width: 100vw;
	height: 69.58vw;
	background-color: #FFFFFF;
}
.midg {
	width: 100vw;
	height: 59.1vw;
	background-color: #FFFFFF;
}
.midh {
	width: 100vw;
	height: 50vw;
	background-color: #125172;
}
.midi {
	width: 100vw;
	height: 45vw;
	background-color: #22292C;
}
.footer {
	text-align: center;
	background-color: #1D2326;
	padding: 4.16vw;
	color: #FFFFFF;
	width: 100vw;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
	float: left;
}
.column.amid {
	width: 33%;
	padding: 10.9vw 8.33vw;
	text-align: center;
}
.column.bmid {
	width: 50%;
	padding: 10.42vw 8.33vw;
	position: relative;
}
.column.cmid {
	width: 50%;
	padding: 10.42vw 3.82vw 0 9.03vw;
	position: relative;
}
.column.dmid {
	width: 50%;
	padding: 10.42vw 9.17vw 0 3.06vw;
	position: relative;
}
.column.emid {
	width: 39.03vw;
	padding: 9.79vw 0 0 0;
	margin: 0 30.49vw;
	position: relative;
}
.column.fmid {
	width: 50%;
	padding: 11.11vw 0.76vw 0 8.88vw;
	position: relative;
}
.column.gmida {
	width: 18.06vw;
	position: relative;
	margin: 20vw 0 0 5.20vw;
	overflow: hidden;
}
.column.gmidb {
	width: 22.92vw;
	position: relative;
	margin: 17.57vw 0 0 5.21vw;
}
.column.hmid {
	width: 50%;
	padding: 16.53vw 12.43vw 0 3.05vw;
	position: relative;
}
.column.imid {
	padding: 11.46vw 0 0 0;
	position: relative;
}
#placeholderimage {
	position: absolute;
	background-color: black;
	height: 48.61vw;
	width: 61.32vw;
	top: 0;
	left: 38.68vw;
	z-index: -2;
}
.textbox {
	position: absolute;
}
#textboxa {
	font-family: Europa-Light;
	font-weight: 300;
	color: #181F22;
	font-size: 3.19vw;
	line-height: 3.89vw;
	top: 7.29vw;
	left: 9.03vw;
	width: 41.67vw;
}
#textboxb {
	font-family: Interface;
	color: #5E616D;
	font-size: 1.39vw;
	line-height: 2.36vw;
	top: 18.96vw;
	left: 9.03vw;
	width: 32.64vw;
}
#textboxc {
	font-family: Europa-Bold;
	font-weight: bold;
	font-size: 0.97vw;
	color: #FFFFFF;
	height: 3.61vw;
	width: 11.32vw;
	border-radius: 0.21vw;
	background-color: #D31E4C;
	line-height: 3.61vw;
    text-align: center;
    top: 26.6vw;
    left: 9.03vw;
}
#textboxd {
	display: inline-block;
    width: 22.22vw;
    height: 2.22vw;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.67vw;
    font-family: Europa-Regular;
    margin-top: 2.78vw;
    margin-bottom: 0;
}
#textboxe {
	display: inline-block;
	width: 22.22vw;
	height: 3.61vw;
	text-align: center;
	color: #AAADBB;
	font-family: Interface;
	font-size: 1.11vw;
	line-height: 1.81vw;
	margin-top: 0.69vw;
}
#textboxf {
	display: inline-block;
	width: 22.22vw;
	height: 1.81vw;
	text-align: center;
	color: #248DD5;
	font-size: 0.9vw;
	font-family: Europa-Bold;
	font-weight: bold;
	line-height: 1.81vw;
	letter-spacing: 0.05vw;
}
#textboxg {
	display: inline-block;
	width: 25.42vw;
	height: 3.89vw;
	color: #181F22;
	font-family: Europa-Light;
	font-weight: 300;
	font-size: 3.19vw;
	margin: 2.22vw 21.88vw 0 -5.63vw;
}
#textboxh {
	display: inline-block;
	width: 39.03vw;
	height: 9.44vw;
	color: #5E616D;
	font-family: Interface;
	font-size: 1.39vw;
	line-height: 2.36vw;
	margin: 1.88vw 8.33vw 0 -5.63vw;
}
#textboxi {
	display: inline-block;
	width: 7.36vw;
	height: 1.81vw;
	color: #195B88;
	font-size: 0.9vw;
	font-family: Europa-Bold;
	font-weight: bold;
	line-height: 1.81vw;
	letter-spacing: 0.05vw;
	margin-top: 1.39vw;
	margin-left: -5.63vw;
}
#textboxj {
	display: inline-block;
	height: 2.22vw;
	color: #1A1F21;
	font-size: 1.67vw;
	font-family: Europa-Regular;
	text-align: center;
}
#textboxk {
	display: inline-block;
	color: #AAADBB;
	font-family: Interface;
	font-size: 1.11vw;
	line-height: 1.81vw;
	text-align: center;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	display: inline;
}
li.header {
	float: right;
}
li a {
	font-family: Europa-Regular;
	text-decoration: none;
}
li a.head {
	font-size: 1.11vw;
	color: #FFFFFF;
	padding-right: 2.78vw;
	margin-top: 3.82vw;
}
li a.foot {
	font-size: 1.11vw;
	color: #FFFFFF;
	padding: 1.39vw;
}
input[type=text] {
    width: 41.67vw;
    height: 5vw;
    border-radius: 0.35vw;
    font-size: 1.11vw;
    background-color: #FFFFFF;
    padding: 1.53vw 18.68vw 1.67vw 1.81vw;
    box-shadow: 0 0.9vw 1.67vw 0 rgba(0,0,0,0.15);
    font-family: Interface;
    color: #AAADBB;
    margin: 2.71vw 29.17vw 0 29.17vw;
}
input[type=submit] {
	border-radius: 0.21vw;
	height: 3.61vw;
	width: 8.61vw;
	background-color: #D31E4C;
	box-shadow: 0 0.01vw 0.01vw 0 rgba(0,0,0,0.11);
	font-family: Europa-Bold;
	font-weight: bold;
	font-size: 0.97vw;
	color: #FFFFFF;
	text-align: center;
	left: 61.39vw;
	top: 24.03vw;
	position: absolute;
	z-index: 5;
}
#triangle-topleft {
	position: absolute;
	z-index: -1;
	width: 0;
	height: 0;
	border-top: 49.31vw solid white;
	border-right: 24.65vw solid transparent;
	top: 0;
	left: 38.4vw;
}
#triangle-bottomright {
	position: absolute;
	z-index: -1;
	width: 0;
	height: 0;
	border-bottom: 41.67vw solid white;
	border-left: 20.83vw solid transparent;
	top: 6.94vw;
	right: 0;
}
#circlea {
	width: 5.28vw;
	height: 5.28vw;
	background-color: #153E54;
	-moz-border-radius: 2.64vw;
	-webkit-border-radius: 2.64vw;
	border-radius: 2.64vw;
	margin-left: 8.19vw;
	margin-right: 8.75vw;
}
#circleb {
	width: 5.28vw;
	height: 5.28vw;
	background-color: #FFFFFF;
	box-shadow: 0 0.49vw 0.49vw 0 rgba(0,0,0,0.04);
	-moz-border-radius: 2.64vw;
	-webkit-border-radius: 2.64vw;
	border-radius: 2.64vw;
	margin-left: -5.63vw;
}
#circlec {
	width: 5.28vw;
	height: 5.28vw;
	background-color: #B81740;
	box-shadow: 0 0.49vw 0.49vw 0 rgba(0,0,0,0.04);
	-moz-border-radius: 2.64vw;
	-webkit-border-radius: 2.64vw;
	border-radius: 2.64vw;
}
#circled {
	width: 20vw;
	height: 20vw;
	background-color: #DAE4EB;
	box-shadow: 0 0.49vw 0.49vw 0 rgba(0,0,0,0.04);
	-moz-border-radius: 10vw;
	-webkit-border-radius: 10vw;
	border-radius: 10vw;
	margin: 0 1.46vw;
}
#circlee {
	width: 15.14vw;
	height: 15.14vw;
	background-color: #DAE4EB;
	box-shadow: 0 0.76vw 0.97vw 0 rgba(0,0,0,0.1);
	-moz-border-radius: 7.57vw;
	-webkit-border-radius: 7.57vw;
	border-radius: 7.57vw;
	margin: 0 1.46vw;
}
#circlef {
	width: 4.86vw;
	height: 4.86vw;
	background-color: #DAE4EB;
	box-shadow: 0 0.28vw 0.28vw 0 rgba(0,0,0,0.1);
	-moz-border-radius: 2.43vw;
	-webkit-border-radius: 2.43vw;
	border-radius: 2.43vw;
}